body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

h1 {
    text-align: center;
    color: #4169E1;
    margin-bottom: 35px;
}

.render_field {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #6495ED;
    padding: 5px;
    width: 850px;
}

.keyboard-key {
    padding: 10px 20px;
    border: 1px solid #6495ED;
    border-radius: 3px;
    margin: 5px;
}

.space-key-width {
    padding: 10px 106px;
}